:root {
  /* Background color */
  --color-bg: #63ac69;

  /* Header background color */
  --color-head-bg: #573305;

  /* Logotype */
  --color-logotype-bg: #d4aa1f;
  --color-text-logotype: #000000;
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: #d4aa1f;
  /* Links */
  --color-link-bg: #c9c4b2;
  --color-link-hover: #fff;
  --color-link-active: #99958f;
  --border-radius-links: 50px;

  /* Headlines (size)*/
  --font-h1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;

  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --font-sub1-size: 1rem;

  /* Headlines (color) */
  --color-headline-bg: #c46767;

  /* Tekst */
  --color-text: #000000;
  --color-text-inverted: #cdccc4;

  /* Andet tekst */
  --followup-text-size: 1rem;

  /*  Margins */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #c59c13;
  --color-card-bg-inverted: #63ac69;
  --color-cta-card-bg: #c24228;
  --color-cta-card-bg-inverted: #bda939;

  /* Fonts & font weights*/
  --font-family-sans: ui-sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 300;
  --font-weight-light: 200;

  /* Infographics background colors*/
  --color-info-bg: #c9c4b2;
}
/*CSS starter*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
