#art-news-wrapper {
  display: grid;
  grid-template-columns: 4fr 3fr;
}
#top-section {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
}
#top-section-wrapper {
  background-color: var(--color-head-bg);
  p {
    color: var(--color-text-inverted);
  }
}
#left-side {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--color-card-bg);
  border-radius: 20px;
  padding: 1rem 0;
  margin: 5px;
  height: 15em;
}
h2 {
  background-color: var(--color-cta-card-bg);
  padding: 15px;
  font-size: 1.5rem;
}
#left-side2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--color-card-bg);
  border-radius: 20px;
  padding: 1rem 0;
  margin: 5px;
  height: 15em;
}
#left-side3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--color-card-bg);
  border-radius: 20px;
  padding: 1rem 0;
  margin: 5px;
  height: 15em;
}
#left-side a,
#left-side2 a,
#left-side3 a {
  background-color: var(--color-cta-card-bg);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  color: black;
  list-style: none;
  text-decoration: none;
}
/* popover css */
[popover] {
  padding: 1rem;

  max-height: 40rem;
  max-width: 40rem;
  width: 40rem;
}

[popover] button {
  position: sticky;
  top: 0;
  justify-self: end;
}

:popover-open {
  display: grid;
  align-self: center;
  background-color: var(--color-cta-card-bg);
}

::backdrop {
  background: #0001;
}

[popover] {
  opacity: 0;
  transition: 1s allow-discrete;
}

:popover-open {
  opacity: 1;
}

@starting-style {
  :popover-open {
    opacity: 0;
  }
}

::backdrop {
  background: 0001;
  opacity: 0;
  transition: 1s allow-discrete;
}

:popover-open::backdrop {
  opacity: 1;
}

@starting-style {
  :popover-open::backdrop {
    opacity: 0;
  }
}
#news_card1,
#news_card2,
#news_card3 {
  background-color: var(--color-card-bg);
  border-radius: 20px;
  margin: 5px;
  padding: 1rem;
  max-width: 20rem;
}
#art-news-wrapper button {
  border-radius: 15px;
  padding: 5px;
  align-self: center;
}
#frontpage h1 {
  font-size: 2em;
}
